
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Promotions API</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">   
    <link href="static/style.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Team India</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>Promotions API</h1>
        <p>Promotions API will help to manage promotions for sales on products. API supports several operations like viewing all current promotions, adding a promotion, deleting a promotion and many more.</p>
        </div>
    </div>

    <div class="container">
      <div class="row">
          <h2>Viewing all the available promotions</h2>
          <p>To list all active promotions, a GET request has to be made to the API</p>
      </div>
      <div class="row">
          <h2>Adding a promotion</h2>
          <p>To create a promotion, a POST request has to be made the API</p>
      </div>
      <div class="row">
          <h2>Deleting a promotion</h2>
          <p>To delete a promotion, a DELETE request has to be made at <mark>http://abc.com/promotions/delete/&lt;promotion id&gt;</mark>.</p>
      </div>
      <div class="row">
          <h2>Updating a promotion</h2>
          <p>To update a promotion, a PUT request has to be made to the API</p>
      </div>
      <div class="row">
          <h2>Cancelling a promotion</h2>
          <p>To cancel a promotion, a PUT request has to be made to the API</p>
      </div>
      <div class="row">
          <h2>Query a promotion based on attribute id</h2>
          <p>To query a promotion based on attribute id, a GET request has to be made to the API and the parameters id need to be passed</p>
      </div>
      <div class="row">
          <h2>Query a promotion based on attribute kind</h2>
          <p>To query a promotion based on attribute kind, a GET request has to be made to the API and the parameters kind need to be passed</p>
      </div>
      <hr>

      <footer>
      NYU DevOps Spring 2017 | Team India | Under Prof. Rofrano
      </footer>
    </div>

    
  </body>
</html>
